*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/google-services.json
/app/build/generated
/app/build/intermediates
/app/build/kotlin
/app/build/tmp
/app/build/outputs/logs
.idea/assetWizardSettings.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/Project.xml
.idea/misc.xml
.idea/vcs.xml
app/app.iml___jb_old___
app/app.iml___jb_tmp___
.idea/assetWizardSettings.xml
.idea/misc.xml
.idea/assetWizardSettings.xml
.idea/misc.xml
Crossnote-Android.iml___jb_tmp___
.idea/misc.xml
